
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}
.pointer {
  cursor: pointer;
}
.link {
  color: #0958d9;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-bold {
  font-weight: bold;
}

.m-8 {
  margin: 8px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.ml-5 {
  margin-left: 8px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.m-10 {
  margin: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.m-12 {
  margin: 12px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.ml-12 {
  margin-left: 12px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.m-14 {
  margin: 14px !important;
}

.mr-14 {
  margin-right: 14px !important;
}

.ml-14 {
  margin-left: 14px !important;
}

.mt-14 {
  margin-top: 14px !important;
}

.mb-14 {
  margin-bottom: 14px !important;
}

.m-16 {
  margin: 16px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-20 {
  margin-top: 20 !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.m-20 {
  margin: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.m-22 {
  margin: 22px !important;
}

.mr-22 {
  margin-right: 22px !important;
}

.ml-22 {
  margin-left: 22px !important;
}

.mt-22 {
  margin-top: 22px !important;
}

.mb-22 {
  margin-bottom: 22px !important;
}

.m-24 {
  margin: 24px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.ml-24 {
  margin-left: 24px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mr-48 {
  margin-right: 48px !important;
}

.ml-48 {
  margin-left: 48px !important;
}

.mt-48 {
  margin-top: 48px !important;
}

.mb-48 {
  margin-bottom: 48px !important;
}

/* padding */
.p-16 {
  padding: 16px !important;
}

.pr-16 {
  padding-right: 16px !important;
}

.pl-16 {
  padding-left: 16px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-16 {
  padding-top: 16px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-24 {
  padding-top: 24px !important;
}
.pt-28 {
  padding-top: 28px !important;
}
.pt-36 {
  padding-top: 36px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.p-24 {
  padding: 24px !important;
}

.pr-24 {
  padding-right: 24px !important;
}

.pl-24 {
  padding-left: 24px !important;
}

.pt-24 {
  padding-top: 24px !important;
}

.pb-24 {
  padding-bottom: 24px !important;
}

.u-p-32 {
  padding: 32px !important;
}

.u-pr-32 {
  padding-right: 32px !important;
}

.u-pl-32 {
  padding-left: 32px !important;
}

.u-pt-32 {
  padding-top: 32px !important;
}

.u-pb-32 {
  padding-bottom: 32px !important;
}

.u-m-32 {
  margin: 32px !important;
}

.u-mr-32 {
  margin-right: 32px !important;
}

.u-ml-32 {
  margin-left: 32px !important;
}

.u-mt-32 {
  margin-top: 32px !important;
}

.u-mb-32 {
  margin-bottom: 32px !important;
}

.u-m-35 {
  margin: 35px !important;
}

.u-mr-35 {
  margin-right: 35px !important;
}

.u-ml-35 {
  margin-left: 35px !important;
}

.u-mt-35 {
  margin-top: 35px !important;
}

.u-mb-35 {
  margin-bottom: 35px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.fz-16 {
  font-size: 16px !important;
}
